# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Production
/dist
/build
frontend/dist/
frontend/build/

# Temp / test scripts
backend/test.js
backend/test2.js
backend/fixPg.js
*.jar
*.egg-info

# Environment variables
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
*.sublime-project
*.sublime-workspace

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System
.DS_Store
Thumbs.db

# Dev
.vite
.eslintcache
